&-card {
    padding-block: 30px;
    padding-inline: 30px;
    background-color: white;
    min-width: 290px;
    border-radius: 10px;
    &__image{
        width: 100%;
        height: 204px;
    }
   &__title {
    font-size: 18px;
    margin-block-start: 30px;
    margin-block-end: 20px;
    }
   &-links {
    margin-block-start: 30px;
    display: flex;
    align-items: flex-end;
    gap: 10px;
    cursor: pointer;
    svg{
        transform: rotate(-45deg);
    }
    }
   &__link {
    text-transform: uppercase;
    }
}