@import '../components/card.scss';

.partners {
    position: relative;
    background-color: $gray-bg;
    padding-block: 80px 116px;
   
    &-content{
        text-align: center;
        max-width: 620px;
        margin: 0 auto;
        &__suptitle {
            color: $light-blue;
            text-transform: uppercase;
            font-family: 'larsseit';
        }
        &__title {
            font-size: clamp($breakTitle, 5vw,$title);
            margin-block: 30px;
        }
        &__text{
            font-size: $main-fonts;
            line-height: 23px;
        }

    }
    
   
    &-cards {
        margin-block-start: 50px;
        display: flex;
        align-items: center;
        gap: 41px;
        
    }


}
.marker {
    @include marker(-100px,false,true)
}

