

@font-face {
    font-family: 'inter';
    src: url('../fonts/inter-v-webfont.woff2') format('truetype');
    font-weight: 400;
    font-style: normal;

}




@font-face {
    font-family: 'larsseit';
    src: url('../fonts/larsseit_regular-webfont.woff2') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'poppinsextrabold';
    src: local('poppinsextrabold')
    url('../fonts/poppins-extrabold-webfont.woff2') format('truetype');
    font-weight: 900;
    font-style: normal;

}




@font-face {
    font-family: 'poppinsregular';
    src: url('../fonts/poppins-regular-webfont.woff2') format('truetype');
    font-weight: 400;
    font-style: normal;

}
