

@mixin button($bgColor){
    background-color: $bgColor;
    border: 1px solid $light-blue;
    border-radius: 2px;
    width: 218px;
    font-family:'larsseit' ;
    padding-block: 14px;
    padding-inline: 27px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
}

@mixin marker($top, $left: false, $right: false){
    -webkit-text-stroke: 1px $light-blue;
    font-size: 250px;
    position: absolute;
    color: transparent;
    top: $top;
    z-index: 10;
    
    @if $left{
        left: 130px
    }

    @if $right{
        right: 70px;
    }
}