@import './mixins.scss';



// font-size

$link: 13px;
$main-title:45px;
$title:32px;
$breakTitle:24px;
$main-fonts:16px;
$card-text:14px;


// colors

$dark-blue: rgba(0, 0, 70, 1);
$light-blue:rgba(68, 161, 231, 1);
$footer-shadow:rgba(26, 70, 136, 0.5);
$card-shadow:linear-gradient(rgba(0, 0, 70, 0), rgba(0, 0, 70, 0.6)) ;
$gray-bg:rgba(240, 241, 244, 1)