.services {
    padding-block-start: 105px;
    margin-block-start: 190px;
    background-color: $dark-blue;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    

    &-content {
    text-align: center;
    max-width: 630px;
    margin: 0 auto;
    margin-block-end: 100px;
    &__suptitle {
        color: $light-blue;
    }
    &__title {
        font-size: clamp($breakTitle,3.5vw,$title);
        margin-block: 30px;
    }
    &__text {
        font-size: $main-fonts;
        font-family: 'Inter';
        line-height: 27px;
    }
        }

    &-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    }
    &-card {
    padding-block: 30px;
    padding-inline: 30px;
    &__title {
        font-size: 19px;
        margin-block-start: 30px;
        margin-block-end: 20px;
    }
    &__text {
        font-family: 'Inter';
        line-height: 22px;
    }
    &__link {
        margin-block-start: 30px;
        display: inline-flex;
        align-items: flex-end;
        gap: 10px;
        cursor: pointer;
        text-transform: uppercase;
    }
    &_help {
        background-color: $light-blue;
        padding-block: 30px;
        padding-inline: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &__title {
            font-size: $title;
            font-weight: 700;
            line-height: 41px;
        }
        &__button {
            @include button(white);
            color:#000
        }
        
    }
    
}

&-strategy{
    background-image: url(@/images/strategy.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-block: 166px 206px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-block-start: 157px;

    &_content{
        max-width: 806px;
        text-align: center;
    }
    &__suptitle{
        font-size: $link;
        text-transform: uppercase;
    }
    &__title{   
        font-size: clamp($breakTitle,3.5vw,$title);
        line-height: 41.6px;
        margin-block-start: 30px;

    }
}

&-marker {
    @include marker(-100px,true,false)
}

}

